# Environment variables
backend/.env

# Dependencies
node_modules/
bbackend/node_modules/
frontend/node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
